:root {
    --green:#64ffda;
    --navy:rgba(10, 25, 47, 0.85);
    --lightxx-slate: #ccd6f6;
    --navy-shadow: rgba(2,12,27,0.7);
    --white: white;
    --btnBorderRadius:05px;
    --btnBorder:var(--green) 2px solid ;
    --red : red;
}

nav {
    background-color:var(--navy) ;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 10px 8px 30px -25px var(--navy-shadow);
 
}

.hamburger div{
    width: 30px;
    height:3px;
    background:var(--lightxx-slate);
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
   
}
.nav-links li > a {
    text-decoration:none;
    margin: 0 0.7vw;
     color:  var(--lightxx-slate);
     font-size: 16px;
     font-weight: 500;
}
.nav-links li a:hover {
    color:var(--green);
   
}
.nav-links li > a {
    position: relative; 
}
.nav-links li a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #f50000;
    position: absolute;
    transition: all ease-in-out 300ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::after{
    width: 100%;
}

.pageContent {
     display: grid;
    grid-template-columns: 85% 10%;
    position: relative;
}

.hero-section {
    width: 100%;
    height: 82vh;
    position: relative;
}

.hero-section-intro {
   padding-left:150px;
   padding-top: 90px;
}

.hero-section p:first-child{
    color:var(--green);
    font-size: 20px;
    margin-bottom: 20px; 
}
.hero-section p{
    color:var(--green);
    font-size: 20px;
    margin-bottom: 50px; 
}

.hero-section h1 {
   animation: moveRight 1s;
    font-size: 45px;
    margin-top: 0%;
    margin-bottom: 10px;
    color: var(--lightxx-slate);
}

.hero-section h2 , text{
    font-size:35px;
    margin-top: 0%;
    margin-bottom: 10px;
    color: var(--lightxx-slate);
}
.hero-section h2 > span {

    color: var(--red);
}


.btn-cv {
    margin-top: 40px;
    color: #64ffda;
    border: var(--btnBorder);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: var(--btnBorderRadius);
    background:transparent ;
    transform: translate(0);
    overflow: hidden;
    position: absolute;
}
@media (min-width:700px) {
    .btn-cv{
        bottom: 20%;
    }
    
}


.btn-cv::before{
    content: "";
    position: absolute;
    background-color: var(--green);
    width: 8px;
    top: 0;
    bottom: 0;
    left:-32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}
.btn-cv:hover::before{
    left: calc(100% + 32px);
    transition: 1s;
}

.socials{
    position: relative;
  
}
.socials > div {
    position: fixed;
    bottom: 40px;
    right: 4%;
    color: var(--green);  
    display: flex;
    flex-direction: column;
}

.socials-img {
    width: 35px;
    margin-top: 15px;
    border: var(--green) 1px  ;
}

.socials-img:hover{
   
    transition: all ease-in-out 500ms;
    border: var(--red) solid 1px;
    background-color: #cbfff33d;
    border-radius: 3px;
    transform:rotateY(360deg);
   
}

@media (max-width:730px){
    .hero-section-intro {
        padding-left:40px;
        padding-top: 60px;
     
     }

     .p2{
        position: absolute;
        top:265px;
        }  
        .btn-cv{
            position: absolute;
            top:80px;
        }
     
   
}


@media (min-width:800px) {
    .hero-section h1 {
   
        font-size: 70px;
    }

    .hero-section h2 {
        font-size:65px;
    }

  

}

@keyframes moveRight {
    0% {
        0pacity:0;
        transform:translateX(-100%);
    }
    50% {
        transform:translateX(30%);
    }
   
}

.about-section {
    width: 100%;
    height: max-content;
    padding: 30px;
}

.head{
    color: var(--green);
    position: relative;
    display: flex;
    justify-content: center;
}

.head::before{
    content: "";
    height: 3px;
    width:40%;
    background-color: var(--green);
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
}

.head::after{
    content: "";
    height: 3px;
    width:40%;
    background-color: var(--green);
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
}
.img-div{
    position: relative;
    display: grid;
    justify-content: center;
    width: 300px;
    margin: auto;
}

.myimg {
    width: 300px;
    height: 304px;
   display: flex;
    z-index: -1;
    border-radius: 5px; 
}

.img-div::before{
    content: "";
    display: flex;
    border: 3px solid var(--green);
    width: 296px;
    height: 300px;
    position: absolute;  
    border-radius: 5px; 
    background-color: #00664e33;
}

.img-div:hover::before{
   
    animation: rotateout 3030ms;
}

@keyframes rotateout {
    0% {
        transform: rotate(200deg);
    }

    25% {
        
        width: 0px;
        height: 0px;
    }
  
}

@media (max-width:700px){
    .head::before{
        width: 23%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    .head::after{
        width: 23%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   justify-items: center;
   color: var(--lightxx-slate);
   
}

.about > p {
    text-align: center;
}

.mystack{
    display: flex;

}
.mystack ul > li {
    padding: 6px;
}
.mystack ul > li:hover {
    cursor: grabbing;
    color: var(--red);
}

.mystack ul > li::marker{
    color: var(--red);
    content: "+";
}

@media (max-width:700px){
    .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .myinfo {
        width: 80%;
        text-align: center;
    }
    .myinfo h3::after{
        border-radius: 50%;
    }

    .mystack{
        display: flex;
      justify-content: center; 
    }
}

.myinfo h3 {
    color: var(--green);
    margin-bottom: 0;
    position: relative;
}

.myinfo h3::after{
    content: "";
    background-color: var(--red);
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
}

.projects-section {
    width: 100%;
    height: 80%;
    padding: 30px;   
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.projectcard{
    background-color: rgba(0, 0, 94, 0.164);
    height: max-content;
    padding: 20px;
    color: #64ffda;
    position: relative; 
    transition:500ms ; 
}

.projectcard:hover{
   background-color: #3effd209;
}

.projectcard-top, .projectcard-body, .projectcard-footer{
    margin: 20px;
}

.projectcard-body > h2 {
    font-weight: 300;
}

.projectcard-footer{
    display: flex;
    justify-content: space-around;
    color: var(--lightxx-slate);
    font-size: 12px;
}

.projectcard-footer > p:hover{
    color: var(--red);
    cursor: grabbing;
}

.linkBar{
    position: absolute;
    top:25px;
    right: 25px;
    display: flex;
    flex-direction: column;
}

.project-img{
    width: 50px;
}

.linkimg{
    width: 25px;
    transition: 250ms;
    margin: 5px;
}

.linkimg:hover{
   width:28px;
}
@media (max-width:720px){
    .project-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}

.by{
       text-align: center;
        color: var(--lightxx-slate);
        margin-top: 0;
        padding-top: 0;
        padding: 30px;
   
}